new-york-city-taxi-fare-prediction with Flask API/.ipynb_checkpoints/
new-york-city-taxi-fare-prediction with Flask API/test.csv
new-york-city-taxi-fare-prediction with Flask API/train.csv
new-york-city-taxi-fare-prediction with Flask API/new-york-city-taxi-fare-prediction
First Tasks (Pandas) code/case_textual_details.xlsx
First Tasks (Pandas) code/case_dollar_stats.csv
First Tasks (Pandas) code/cases.xlsx 
K-Means Clustering Task/.ipynb_checkpoints/